@model PakMua.tb_member

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tb_member</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alamat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alamat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.no_hp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.no_hp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_member }) |
    @Html.ActionLink("Back to List", "Index")
</p>
